.movie-item {
    padding: 20px;
    background: linear-gradient(to right, #ffefba, #f5f1f5);
    display: flex;
}

.movie-item__poster {
    height: 150px;
    margin-right: 21px;
}

.movie-item__title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 14px;
}

.movie-item__add-button {
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.movie-item__add-button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

@media(max-width: 700px) {
    .movie-item__title {
        font-size: 18px;
    }
}